body {
  font-family: Arial, Helvetica, sans-serif;
}

#rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 1rem);
}

main {
  margin: auto 2rem;
  padding: 0 1rem;
  display: flex;
  height: 100%;
}

article{
  display: flex;
  align-items: center;
}

.directionalNav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-size: 4rem;
  transform: scaleX(0.5);
}
